* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin:0;
  padding:0;
}

html {
  background-color: rgba(200,200,140,.2);
}


body {
  font: 18px/1.5 Futura, "Gill Sans", sans-serif;
  color: #333;
}

a:link {color: rgba(220,30,0, .75);}
a:visited {color: rgba(220,30,0, .25);}
a:hover {color: #505050;}
a:focus {color: #505050;}
a:active {color: rgba(220,30,0, .95);}

#skipnav {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

nav ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

nav li {
  display:inline-block;
}

[role=banner] {
  background: rgba(0,0,0,.75);
  padding: 40px;
}

#items {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 10px;
}

#items .item {
  width: 23%;
  background: rgba(0,0,0,.0725);
  padding: 0 20px;
  margin: 10px 0;
}
